body {
    font-family: "Rajdhani", sans-serif;
    margin: 0;
}
 
p.mano-tekstas-1,
h6.mano-tekstas-1 {
    color: skyblue;
    letter-spacing: 5px;
    text-transform: uppercase;
}
 
h6.mano-tekstas-1 {
    text-transform: lowercase;
}
 
.mano-tekstas-2 {
    color: orange;
}
 
.raudonas-tekstas {
    color:crimson!important;
    /* !!! Naudoti tik išskirtinais atvejais, pvz remontuojant web !!! */
}

section{
    font-size: 0;
}
.box {
    box-sizing: border-box;
    border: 2px solid rgb(167, 3, 3);
    width:33%;
    height: 100px;
    font-size: 30px;
    min-width: 200;
    vertical-align: top;
    display: inline-block;
}