* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topPurple {
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #60257f;
    color: white;
    font-size: 10px;
    padding: 3px 0 0 0;
}

.topHeader {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    background-color: tomato;
    align-items: center;
    padding: 0 50px;
}

.menu {
    width: 670px;
    display: flex;
    justify-content: space-between;
    background-color: lawngreen;
}

.linksContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: darkkhaki;
    list-style: none;
    text-decoration: none;
    color: #2B0236;
    font-weight: 700;
}